name: Build and push image to ECR
on:
  push:
    branches:
      - master

env:
  ECR_REPOSITORY: crb-davinci-nft-test
jobs:
  build-image:
    runs-on: [self-hosted, cere-network-large-workers]
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ORG_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ORG_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Checkout code base
        uses: actions/checkout@v2
        with:
          path: freeport-smart-contracts
      - name: Build and push image
        working-directory: ./freeport-smart-contracts
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          echo "Installing helper packaging curl wget findutils jq"
          sudo apt-get install curl wget findutils jq

          echo "Build -> Deploy -> Copy artifacts"
          docker build -f Dockerfile.builder . -t $ECR_REGISTRY/$ECR_REPOSITORY:builder
          echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:builder"
          sudo ./run-ganache-deploy-copy-artifacts.sh

          echo "Build ganance with snapshot version of deployed contract"
          sudo docker build -f Dockerfile.runtime -t $ECR_REGISTRY/$ECR_REPOSITORY:latest .
          echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:latest"

          echo "Push to docker registry"
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
          echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:latest"
